.profile {
    background-color: #1f1f1f;
    padding: 60px;
    margin: 20px 0;
    position: absolute;
    min-width: 300px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.name {
    font-size: 4em;
    text-transform: capitalize;
}

.balance-container {
    .current-balance {
        font-size: 2em;
        color: #49aa19;
    }
}