.header {
    width: 100%;
    text-align: center;

    h1 {
        font-size: 3em;
        margin: 0;
    }

    h2 {
        margin: 0;
        color: #595959;
    }
}

.user-controls {
    margin-bottom: 40px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .controls {
        .auto-scroll {
            span {
                margin-right: 10px;
            }
        }

        .make-transaction {
            margin-top: 20px;
        }
    }

    .metrics {
        place-self: end;

        .balance {
            &.profit {
                color: #52c41a;
            }
    
            &.loss {
                color: #f5222d
            }
        }
    }
}